<div id="addressModal" class="modal">
    <div class="modal-content">
        <span class="close-button" id="closeAddressModal">&times;</span>
        <h2>Введите адрес доставки</h2>
        <form id="addressForm">
            <div class="form-group">
                <label for="addressInput">Адрес:</label>
                <textarea id="addressInput" name="address" required></textarea>
            </div>
            <button type="submit" class="button-atc">Продолжить к оплате</button>
        </form>
    </div>
</div>
