<div id="mobileMenuModal" class="mobile-menu-modal">
  <div class="mobile-menu-content">
    <span id="closeMobileMenu" class="close-btn-mob">&times;</span>
    <div class="sidebar-mob">
        <a href="{% url 'mainpage' %}" class="sidebar-item">Главная</a>
        <a href="{% url 'longread' %}" class="sidebar-item">О компании</a>
        <a href="{% url 'products' %}" class="sidebar-item">Продукция</a>
        <a href="{% url 'support' %}" class="sidebar-item">Контакты</a>
      </div>
  </div>
</div>
