{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'css\style.css' %}" />
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <div class="header2">
      <img class="logo" src="{% static 'img/logo.svg' %}" />
      <div class="sidebar">
        <a href="{% url 'mainpage' %}" class="sidebar-item">Главная</a>
        <a href="{% url 'longread' %}" class="sidebar-item">О компании</a>
        <a href="{% url 'products' %}" class="sidebar-item">Продукция</a>
        <a href="{% url 'support' %}" class="sidebar-item">Контакты</a>
      </div>
      <div class="func">
        <a href="#"><img src="{% static 'img/dark_mode.svg' %}" alt="" class="dark_mode"/></a>
        <a href="{% url 'favorites_list' %}"><img src="{% static 'img/favorite.svg' %}" alt="Избранное" /></a>
        <a href="{% url 'cart' %}"><img src="{% static 'img/cart.svg' %}" alt="" /></a>
        <a href="#" id="openProfileModal"><img src="{% static 'img/profil.svg' %}" alt="" /></a>
        <div class="mobile-menu">
          <a href="#" id="menu-button">
            <img src="{% static 'img/icon-menu.svg' %}" alt="Меню" />
          </a>
      </div>
      </div>
    </div>
    <div class="auth-page">
        <div class="auth-form">
            <h2 class="auth-title">Регистрация</h2>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}
                            <small class="form-help-text">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p class="error-message">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <button type="submit" class="auth-button">Зарегистрироваться</button>
                <p class="auth-link">Уже есть аккаунт? <a href="{% url 'authorization' %}">Войти</a></p>
            </form>
        </div>
    </div>
    <footer class="footer">
      <div class="video-container">
        <video autoplay muted loop playsiline class="footer-video"
          data-light="{% static 'img/0714(2).mp4' %}" 
          data-dark="{% static 'img/0714(3).mp4' %}">
          <source src="{% static 'img/0714(2).mp4' %}" />
        </video>
      </div>
      <div class="footer-overlay">
        <div class="footer-content">
          <div class="block-c-1">
            <div class="f-address">
              <img src="../static/img/geolok.svg" alt="" />
              <div class="b-text">
                Балейская 2, 1 этаж<br />Ингодинский район, Чита, 672020
              </div>
            </div>
            <div class="f-phone">
              <img src="../static/img/phone.svg" alt="" />
              <div class="b-text">
                +7 (3022) 31‒26‒61<br />+7 (3022) 31‒26‒75
              </div>
            </div>
            <div class="f-time">
              <img src="../static/img/time.svg" alt="" />
              <div class="b-text">с 9:00 до 18:00 без выходных</div>
            </div>
          </div>
          <div class="block-c-2">
            <div class="milk-island">
              <img class="footer-logo" src="../static/img/logo.svg" alt="" />
              <img class="name" src="../static/img/footer-title.svg" alt="">
            </div>
            <a href="{% url 'support' %}" class="f-button">Напишите нам</a>
          </div>
        </div>
      </div>
    </footer>
    {% include "profil.html" %}
    {% include "mobile_menu.html" %}
</body>
</html>